.syntax--json .syntax--string {
  color: @syntax-text-color;
}
.syntax--json .syntax--value > .syntax--string {
  color: @syntax-color-string;
}
.syntax--json .syntax--value > .syntax--punctuation {
  color: darken(@syntax-color-string, 37%);
}
