.syntax--markup.syntax--heading {
  color: @orange;
}

.syntax--markup.syntax--italic {
  font-style: italic;
  color: @yellow;
}

.syntax--markup.syntax--bold {
  font-weight: bold;
  color: @yellow;
}

.syntax--markup.syntax--underline {
  text-decoration: underline;
  color: @green;
}

.syntax--markup.syntax--quote {
  font-style: italic;
  color: @cyan;
}

.syntax--markup.syntax--changed {
  color: @violet;
}

.syntax--markup.syntax--deleted {
  color: @red;
}

.syntax--markup.syntax--inserted {
  color: @green;
}

.syntax--markup.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
  color: @blue;
}

.syntax--markup.syntax--list {
  color: @red;
}

.syntax--markup.syntax--quote {
  color: @orange;
}

.syntax--markup.syntax--raw.syntax--inline {
  color: @green;
}
