@import '../colors';

.json .string {
  color: @light-gray;
}
.json .string  > .punctuation {
  color: @gray;
}
.json .value > .string {
  color: @yellow;
}
.json .value > .punctuation {
  color: @dark-yellow;
}
