@import '../colors';

.source.litcoffee .markdown.meta {
  color: fade(@light-gray, 50%);
}

.source.litcoffee .markdown.string,
.source.litcoffee .markdown.bold,
.source.litcoffee .markdown.italic,
.source.litcoffee .markdown.raw.inline {
  color: fade(@yellow, 50%);
}

.source.litcoffee .markdown.punctuation {
  color: fade(@orange, 50%);
}

.source.litcoffee .markdown.punctuation.list_item {
  color: fade(@blue, 50%);
}

.source.litcoffee .markdown.heading {
  color: fade(@orange, 50%);
}

.source.litcoffee .markdown.punctuation.blockquote,
.source.litcoffee .markdown.quote {
  color: fade(@cyan, 75%);
  font-style: italic;
}

.source.litcoffee .markdown.link {
  color: fade(@green, 50%);
}

.source.litcoffee .markdown.link.title,
.source.litcoffee .markdown.link.description {
  color: fade(@orange, 50%);
}
