@import '../colors';

.gfm.heading {
  color: @magenta;
}

.gfm.support {
  color: @yellow;
}

.gfm.entity {
  color: @yellow;
}

.gfm.raw {
  color: @yellow;
}

.gfm.code {
  color: @light-gray;
}

.gfm.emoji {
  color: @yellow;
}

.gfm.emoji .word {
  color: @magenta;
}

.gfm.link {
  color: @green;
}

.gfm.link .string {
  color: @yellow;
}

.gfm.list {
  color: @blue;
}

.gfm.quote {
  color: @orange;
}
