@import '../colors';

.syntax--gfm.syntax--heading {
  color: @magenta;
}

.syntax--gfm.syntax--support {
  color: @yellow;
}

.syntax--gfm.syntax--entity {
  color: @yellow;
}

.syntax--gfm.syntax--raw {
  color: @yellow;
}

  color: @light-gray;
.syntax--gfm.syntax--code {
}

.syntax--gfm.syntax--emoji {
  color: @yellow;
}

.syntax--gfm.syntax--emoji .syntax--word {
  color: @magenta;
}

.syntax--gfm.syntax--link {
  color: @green;
}

.syntax--gfm.syntax--link .syntax--string {
  color: @yellow;
}

.syntax--gfm.syntax--list {
  color: @blue;
}

.syntax--gfm.syntax--quote {
  color: @orange;
}
