@import '../colors';

.markup {

  &.heading {
    color: @orange;
  }

  &.italic {
    font-style: italic;
    color: @yellow;
  }

  &.bold {
    font-weight: bold;
    color: @yellow;
  }

  &.underline {
    text-decoration: underline;
    color: @green;
  }

  &.quote {
    font-style: italic;
    color: @cyan;
  }

  &.changed {
    color: @violet;
  }

  &.deleted {
    color: @red;
  }

  &.inserted {
    color: @green;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: @green;
  }
}
