// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "colors";

.tree-view {
  font-size: 12px;
}

.atom-color-highlight .region {
  -webkit-font-smoothing: inherit;
}

.editor:not(.mini) {

  .invisible-character {
    color: @black;
  }

  .cursor-line .invisible-character {
    color: lighten(@brightblack, 10%);
  }

  .indent-guide {
    box-shadow: inset 1px 0 fadeout(@brightblack, 35%);
  }

  .wrap-guide,
  .bracket-matcher {
    border: none;
    background-color: @brightblack;
  }

  .trailing-whitespace {
    background-color: fadeout(@error-color, 50%);
  }

  &, .gutter {
    background-color: @black;
    color: @white;
  }

  &.is-focused {

    .cursor {
      border-color: @blue;
    }

    .selection .region,
    .line-number.cursor-line {
      background-color: @brightblack;
    }

    .cursor-line,
    .line-number.cursor-line-no-selection {
      background-color: fadeout(@brightblack, 70%);
    }
  }

  .comment {
    color: darken(@white, 38%);
  }

  .string {
    color: @yellow;

    .embedded {
      color: @orange;
    }
  }

  .variable {

    &:not(.assignment):not(.parameter):not(.magic) {
      color: @yellow;
      font-weight: bold;
    }

    &.magic,
    &.parameter {
      font-style: italic;
      color: @orange
    }

    &.assignment > .punctuation.separator.key-value {
      color: @magenta;
    }
  }

  .constant {
    color: @violet;

    &.language {
      font-weight: bold;
    }

    &.placeholder {
      color: @orange;
    }
  }

  .keyword {
    color: @magenta;
  }

  .storage {
    color: @magenta;

    &.type {
      font-style: italic;
      color: @cyan;
    }
  }

  .entity {
    color: @green;

    &.other.inherited-class {
      font-style: italic;
    }

    &.name.tag {
      color: @magenta;
    }
  }

  .support {
    color: @cyan;

    &.type,
    &.class {
      font-style: italic;
    }
  }

  .invalid {
    background-color: @error-color;
    color: @brightwhite;

    &.deprecated {
      background-color: @warning-color;
    }
  }

  .meta {

    .tag.sgml {
      color: @orange;
    }

    .preprocessor {
      color: @violet;
    }
  }
}
