@black: #1F1F1F;
@brightblack: #3B3A32;
@white: #CFCFC2;
@brightwhite: #EEEEEE;

@cyan: #66D9EF;
@magenta: #F92672;
@yellow: #E6DB74;

@red: #E92E4D;
@green: #A6E22E;
@blue: #7DA5DC;

@violet: #AE81FF;
@orange: #FD971F;
