@import "syntax-variables";
@import "colors";

:host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .invisible-character {
    color: @syntax-background-color;
  }

  .cursor-line .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .indent-guide {
    box-shadow: inset 1px 0 @syntax-indent-guide-color;
  }

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .gutter .line-number.cursor-line {
    color: @syntax-gutter-text-color-selected;
    background-color: @syntax-gutter-background-color-selected;
    border-bottom: 1px solid @syntax-selection-color;

    &:not(.cursor-line-no-selection) {
      background-color: @syntax-selection-color;
      border: none;
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @syntax-result-marker-color;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    border-color: @syntax-cursor-color;
  }

  .cursor-line {
    background-color: @syntax-gutter-background-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }

  .trailing-whitespace {
    background-color: fadeout(@error-color, 50%);
  }

  .bracket-matcher.region {
    border: none;
    background-color: @syntax-wrap-guide-color;
    border-radius: .1rem;
    box-shadow: 0 0 0 .2rem @syntax-wrap-guide-color;
  }

  .highlights .highlight {

    &.find-result .region,
    &.current-result .region {
      border: 1px solid @syntax-result-marker-color;
    }

    &.current-result .region {
      background-color: @syntax-result-marker-color-selected;
    }
  }
}

.comment {
  color: @gray;
}

.string {
  color: @yellow;

  &.regexp {
    color: mix(@yellow, @green);
  }

  &.quasi,
  .embedded {
    color: mix(@yellow, @orange);
  }

  &.other.link {
    color: @red;
  }

  &.quoted.double .begin,
  &.quoted.double .end,
  &.quoted.single .begin,
  &.quoted.single .end {
    color: mix(@yellow, @dark-gray);
  }
}

.variable {
  color: @syntax-text-color;

  &.static {
    color: @violet;
  }

  &.this {
    color: @magenta;
  }

  &.magic,
  &.parameter {
    font-style: italic;
    color: mix(@magenta, @orange);
  }

  &.assignment > .punctuation.separator.key-value {
    color: @magenta;
  }

  &.less {
    color: @green;
  }
}

.constant {

  &:not(.punctuation):not(.key) {
    color: @violet;
  }

  &.language {
    font-weight: bold;
  }

  &.placeholder {
    color: @orange;
  }

  &.boolean {

      &.true {
        color: mix(@violet, @blue);
      }

      &.false {
        color: mix(@violet, @red);
      }
  }

  &.null {
    color: mix(@blue, @dark-gray);
  }
}

.keyword {

  &:not(.accessor) {
    color: @magenta;
  }

  &.other.special-method {
    color: @blue;
  }

  &.other.unit {
    color: @orange;
  }
}

.storage {
  color: @orange;

  &.variable {
    font-style: italic;
  }

  &.function,
  &.class {
    font-weight: bold;
  }
}

.entity {

  &.other.inherited-class {
    font-style: italic;
  }

  &.name.tag {
    color: @magenta;
  }

  &.name.class {
    color: @cyan;
  }

  &.name.function {
    color: mix(@blue, @light-gray);

    &.method {
      color: @cyan;
    }
  }

  &.name.type {
    color: @cyan;
  }

  &.other.attribute-name.id {
    color: @cyan;
  }

  &.quasi {
    color: @orange;
  }
}

.support {
  color: @cyan;

  &.function {
    font-weight: bold;
  }

  &.type,
  &.class {
    font-style: italic;
  }
}

.invalid {
  background-color: @error-color;
  color: @white;

  &.deprecated {
    background-color: @warning-color;
  }
}

.meta {

  &.link {
    color: @magenta;
  }

  &.selector {
    color: @violet;
  }

  &.separator {
    background-color: @dark-gray;
    color: @syntax-text-color;
  }

  &.brace.round {
    color: mix(@blue, @light-gray);
  }

  .tag.sgml {
    color: @orange;
  }

  .preprocessor {
    color: @violet;
  }
}

.punctuation {

  &.separator {
    color: @magenta;
  }

  &.definition {
    &.comment {
      color: lighten(@gray, 10%);
    }

    &.string,
    &.variable,
    &.parameters,
    &.array {
      color: @syntax-text-color;
    }

    &.heading,
    &.identity {
      color: @blue;
    }

    &.bold {
      color: @orange;
      font-style: bold;
    }

    &.italic {
      color: @violet;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: @orange;
  }
}

.none {
  color: @syntax-text-color;
}

:host(.mini) .scroll-view {
  padding-left: 1px;
}
