@import "syntax-variables";
@import "colors";

// Foreground and background
atom-text-editor {
  color: @syntax-text-color;
  background-color: @syntax-background-color;
}

// Invisibles
atom-text-editor .invisible {
  color: @syntax-text-color;
}
atom-text-editor .invisible-character {
  color: @syntax-background-color;
}
atom-text-editor .cursor-line .invisible-character {
  color: @syntax-invisible-character-color;
}

// Guides
atom-text-editor .indent-guide {
  box-shadow: inset 1px 0 @syntax-indent-guide-color;
}
atom-text-editor .wrap-guide {
  background-color: @syntax-wrap-guide-color;
}

// Gutters
atom-text-editor .gutter .line-number.cursor-line {
  background-color: @syntax-gutter-background-color;
  color: @syntax-gutter-text-color-selected;
}
atom-text-editor .gutter .line-number.cursor-line:not(.cursor-line-no-selection) {
  background-color: @syntax-gutter-background-color-selected;
}
atom-text-editor .gutter .line-number.folded,
atom-text-editor .gutter .line-number:after,
atom-text-editor .fold-marker:after {
  color: @syntax-result-marker-color;
}

// Cursor
atom-text-editor .cursor {
  border-color: @syntax-cursor-color;
}
atom-text-editor .cursor-line {
  background-color: @syntax-gutter-background-color;
}

// Selections
atom-text-editor .selection .region {
  background-color: @syntax-selection-color;
}

// Whitespace
atom-text-editor .trailing-whitespace {
  background-color: fadeout(@error-color, 50%);
}

// Highlights
atom-text-editor .bracket-matcher.region {
  border: none;
  background-color: @syntax-wrap-guide-color;
  border-radius: .1rem;
  box-shadow: 0 0 0 .2rem @syntax-wrap-guide-color;
}
atom-text-editor .highlights .highlight.find-result .region,
atom-text-editor .highlights .highlight.current-result .region {
  border: 1px solid @syntax-result-marker-color;
}
atom-text-editor .highlights .highlight.current-result .region {
  background-color: @syntax-result-marker-color-selected;
}

//
// SYNTAX
//

// Comments
.comment {
  color: @gray;
}
.punctuation.definition.comment {
  color: @dark-gray;
}

// Punctuation
.punctuation {
  color: @syntax-text-color;
}
.punctuation.definition.heading,
.punctuation.definition.identity {
  color: @blue;
}
.punctuation.definition.bold {
  color: @orange;
  font-style: bold;
}
.punctuation.definition.italic {
  color: @violet;
  font-style: italic;
}
.punctuation.quasi,
.punctuation.section.embedded {
  color: @orange;
}

// Operators
.operator {
  color: @magenta;
}
.operator.assignment {
  color: @magenta;
}
.operator.accessor {
  color: @syntax-text-color;
}

// Strings
.string {
  color: @yellow;
}
.string.regexp {
  color: @chartreuse;
}
.string.quasi,
.string .embedded {
  color: @orange-yellow;
}
.string.quoted .begin,
.string.quoted .end {
  color: @dark-yellow;
}

// Variables
.variable {
  color: @syntax-text-color;
}
.variable.property {
  color: @blue-light-gray;
}
.variable.static {
  color: @violet;
}
.variable.magic,
.variable.parameter {
  font-style: italic;
  color: @magenta-orange;
}
.variable.class {
  color: @white;
}

// Constants
.constant {
  color: @violet;
}
.constant.key {
  font-style: italic;
}
.constant.language {
  font-weight: bold;
}
.constant.placeholder {
  color: @orange;
}
.constant.boolean.true {
  color: @blue-violet;
}
.constant.boolean.false {
  color: @red-violet;
}
.constant.null {
  color: @blue-dark-gray;
}

// Keywords
.keyword {
  color: @magenta;
}
.keyword.other.special-method {
  color: @blue;
}
.keyword.other.unit {
  color: @orange;
}

// Storage
.storage {
  color: @orange;
}
.storage.variable {
  font-style: italic;
}
.storage.function,
.storage.class {
  font-weight: bold;
}

// Entities
.entity.other.inherited-class {
  font-style: italic;
}
.entity.other.attribute-name {
  color: @yellow;
}
.entity.other.attribute-name.id {
  color: @cyan;
}
.entity.name.tag {
  color: @magenta;
}
.entity.name.class {
  color: @cyan;
}
.entity.name.function {
  color: @cyan;
}
.entity.name.type {
 color: @cyan;
}
.entity.quasi {
  color: @orange;
}

// Support
.support {
  color: @cyan;
}
.support.function {
 font-weight: bold;
}
.support.type,
.support.class {
  font-style: italic;
}

// Invalid
.invalid {
  background-color: @error-color;
  color: @white;
}
.invalid.deprecated {
  background-color: @warning-color;
  color: @white;
}

// Meta
.meta.link {
  color: @green;
}
.meta.selector {
  color: @violet;
}
.meta.separator {
  background-color: @dark-gray;
  color: @syntax-text-color;
}
.meta.brace.round {
  color: @blue-light-gray;
}
.meta .tag.sgml {
  color: @orange;
}
.meta .preprocessor {
  color: @violet;
}

// None ?
.none {
  color: @syntax-text-color;
}
