@import "colors";

.gutter.linter-gutter-enabled .line-number {

  &.linter-warning:before {
    color: @warning-color;
  }

  &.linter-error:before {
    color: @error-color;
  }
}

.highlight {

  &.linter-warning,
  &.linter-error {

    .region {
      border: none;
      background: none;
      opacity: 1;
      padding: 0;
      margin: 0;
      box-sizing: content-box;
    }
  }

  &.linter-warning .region {
    background: none;
    border: none;
  }

  &.linter-error .region {
    background: fadeout(@error-color, 50%);
    border: none;
  }
}
