.gutter.linter-gutter-enabled .line-number.linter-warning:before {
  color: @warn;
}

.gutter.linter-gutter-enabled .line-number.linter-error:before {
  color: @bad;
}

.highlight.linter-warning .region,
.highlight.linter-error .region {
  border: none;
  background: none;
  opacity: 1;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.highlight.linter-warning .region {
  background: none;
  border: none;
}

.highlight.linter-error .region {
  background: fadeout(@bad, 50%);
  border: none;
}
