@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @light-gray;
@syntax-cursor-color: @blue;
@syntax-selection-color: fadeout(@light-gray, 70%);
@syntax-selection-flash-color: @red;
@syntax-background-color: @black;

// Guide colors
@syntax-wrap-guide-color: @dark-gray;
@syntax-indent-guide-color: fadeout(@dark-gray, 35%);
@syntax-invisible-character-color: lighten(@dark-gray, 10%);

// For find and replace markers
@syntax-result-marker-color: @magenta;
@syntax-result-marker-color-selected: fadeout(@magenta, 60%);

// Gutter colors
@syntax-gutter-text-color: @syntax-text-color;
@syntax-gutter-text-color-selected: @white;
@syntax-gutter-background-color: fadeout(@dark-gray, 70%);
@syntax-gutter-background-color-selected: @syntax-gutter-background-color;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;
