@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @white;
@syntax-cursor-color: @mode-normal;
@syntax-selection-color: @mode-background-visual;
@syntax-selection-flash-color: @red;
@syntax-background-color: @black;

// Guide colors
@syntax-wrap-guide-color: @hidden;
@syntax-indent-guide-color: fadeout(@hidden, 35%);
@syntax-invisible-character-color: lighten(@hidden, 10%);

// For find and replace markers
@syntax-result-marker-color: @magenta;
@syntax-result-marker-color-selected: fadeout(@magenta, 60%);

// Gutter colors
@syntax-gutter-text-color: @syntax-text-color;
@syntax-gutter-text-color-selected: @gray-light;
@syntax-gutter-background-color: fadeout(@hidden, 70%);
@syntax-gutter-background-color-selected: @syntax-selection-color;

// For git diff info. i.e. in the gutter
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;
@syntax-color-renamed: @blue;

// For language entity colors
@syntax-color-variable: @syntax-text-color;
@syntax-color-constant: @violet;
@syntax-color-property: @syntax-text-color;
@syntax-color-value: @orange;
@syntax-color-function: @cyan;
@syntax-color-method: @sky;
@syntax-color-class: @chartreuse;
@syntax-color-keyword: @magenta;
@syntax-color-tag: @indigo;
@syntax-color-attribute: @yellow;
@syntax-color-import: @olive;
@syntax-color-snippet: @spring;

// Custom syntax variables
@syntax-color-comment: @ignore;
@syntax-color-brace: fade(@white, 75%);
@syntax-color-string: @yellow;
@syntax-color-embedded: @amber;
@syntax-color-definition: @blue;
@syntax-color-parameter: @white;
@syntax-color-support: @magenta;
@syntax-color-type: @turquoise;

// Boolean values
@syntax-color-true: @indigo;
@syntax-color-false: @wine;

// Markup syntax variables
@syntax-color-link: @green;
@syntax-color-quote: @cyan;

// Status
@good: @green;
@bad: @red;
@warn: @orange;
@hidden: @gray-dark;
@ignore: @gray-light;

// For editor modes (vim-mode-plus, etc)
@mode-normal: @blue;
@mode-insert: @magenta;
@mode-visual: @violet;
@mode-pending: @orange;

@mode-background-normal: fadeout(@mode-normal, 90);
@mode-background-insert: fadeout(@mode-insert, 90);
@mode-background-visual: fadeout(@mode-visual, 70);
@mode-background-pending: fadeout(@mode-pending, 90);
